<div class="row  mt-6">

    <div class="col-md-6  mx-auto">
        <div class="card">
            <div class="card-body">
              <h4 class="text-center">
                  <span class="text-primary">
                      <i class="fa fa-lock"></i>Login Panel
                  </span> Client
              </h4>

             <form  (ngSubmit)="onLogin()">
                 <div class="form-group">
                     <label for=""><strong>Email</strong></label>
                     <input type="text" class="form-control"  name="email" [(ngModel)]="email">
                </div>
                 <div class="form-group">
                     <label for=""><strong>Password</strong></label>
                     <input type="password" class="form-control" name="password" [(ngModel)]="password">
                </div>
                <input class="btn btn-primary  btn-block" value="login" type="submit" />
                <button class="btn btn-danger btn-block"  (click)="onLoginWithGoogle()">
                    <i class="fa fa-google-plus"></i>  Google account
                </button>
             </form>

            </div>
        </div>
    </div>
</div>