<div class="row">
    <div class="col-md-12">
        <a routerLink="/" class=""><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>Back to dashboard</a>
    </div>
</div>

<div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><i class="fa fa-user"></i>New Client</h4>
                <form (ngSubmit)="addClient()"   #f="ngForm">
            <div class="form-group">
                <label for="">Firstname</label>
                <input type="text" class="form-control"  
                name="firstname"  [(ngModel)]="client.firstname"
                 #clientFirstname="ngModel"
                 required  minlength="3" pattern="[a-zA-Z]+" [ngClass]="{'is-invalid': clientFirstname.errors && clientFirstname.touched}"
                 >

                 <div  [hidden]="!clientFirstname.errors?.required" class="invalid-feedback" >
                     First name id required 
                 </div>
                 <div  [hidden]="!clientFirstname.errors?.minlength" class="invalid-feedback" >
                    must be at least 2 chars !!
                </div>
                <div  [hidden]="!clientPhone.errors?.pattern" class="invalid-feedback" >
                    invalid format 
                </div>
            </div>


            <div class="form-group">
                <label for="">Lastname</label>
                <input type="text" class="form-control"  
                name="lastname"  [(ngModel)]="client.lastname"
                 #clientLastname="ngModel"
                 required  minlength="3"  pattern="[a-zA-Z]+"  [ngClass]="{'is-invalid': clientLastname.errors && clientLastname.touched}"
                 >

                 <div  [hidden]="!clientLastname.errors?.required" class="invalid-feedback" >
                    Last name id required 
                 </div>
                 <div  [hidden]="!clientLastname.errors?.minlength" class="invalid-feedback" >
                    must be at least 2 chars !!
                </div>
                <div  [hidden]="!clientPhone.errors?.pattern" class="invalid-feedback" >
                    invalid format 
                </div>
            </div>


            <div class="form-group">
                <label for="">Phone</label>
                <input type="text" class="form-control"  
                name="phone"  [(ngModel)]="client.phone"
                 #clientPhone="ngModel"
                 required  minlength="14"   pattern="[0-9]+" [ngClass]="{'is-invalid': clientPhone.errors && clientPhone.touched}"
                 >

                 <div  [hidden]="!clientPhone.errors?.required" class="invalid-feedback" >
                    Phone  required 
                 </div>
                 <div  [hidden]="!clientPhone.errors?.minlength" class="invalid-feedback" >
                    must be at least 14 chars !!
                </div>
                <div  [hidden]="!clientPhone.errors?.pattern" class="invalid-feedback" >
                    invalid format number
                </div>
            </div>


            <div class="form-group">
                <label for="">Balance</label>
                <input type="text" class="form-control"  
                name="balance"  [(ngModel)]="client.balance"
                 #clientBalance="ngModel"
                 required  pattern="[0-9]+"  [ngClass]="{'is-invalid': clientBalance.errors && clientBalance.touched}"
                 >

                 <div  [hidden]="!clientBalance.errors?.required" class="invalid-feedback" >
                    Balance required 
                 </div>
                 <div  [hidden]="!clientPhone.errors?.pattern" class="invalid-feedback" >
                    invalid format number
                </div>
                 
            </div>


            <button class="btn btn-primary btn-block" type="submit"  [disabled]="!f.valid">Submit</button>
            </form>
            </div>
        </div>
    </div>
</div>
